.main-footer {
    background: #f1f5fb;
    padding: 0;
}
.main-footer:before {
    position: absolute;
    left: 0;
    bottom: 0;
    top: auto;
    max-width: 480px;
    width:100%;
    height: 165px;
    background-image: url('../assets/footer-sh.png');
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    background-size: cover;
}
.main-footer .footerMainSec{
    position: relative;
    padding: 114px 10px 40px 10px;
}
.main-footer .footerWidget {
    position: relative;
    margin-bottom: 60px;
}
.main-footer .widget-title {
    color: #4c4754;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    font-family: 'PopM';
    margin-bottom: 30px;
}
.main-footer .footerTitle {
    font-size: 25px;
    font-family: 'PopB';
    font-weight: bold;
}
.main-footer .list li, .main-footer .list a {
    color: #758191;
    font-weight: 500;
    position: relative;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 15px;
}
.main-footer .list a:hover {
    color: #7478fa;
}
.main-footer .list li a:hover:before {
    opacity: 1;
    bottom: 2px;
}
.main-footer .list a:before {
    background-color: #7478fa;
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 1px;
    width: 100%;
    content: "";
    transition: all 200ms ease;
    opacity: 0;
}
.main-footer .footer-bottom {
    position: relative;
    font-size: 16px;
    font-family: 'PopM';
}
.main-footer .footer-bottom .outer-box {
    position: relative;
    border-top: 1px solid #e0e6ee;
    padding: 25px 0;
}
.main-footer .footer-bottom .copyright-text {
    position: relative;
    float: left;
    font-size: 15px;
    line-height: 25px;
    color: #92a2b6;
    font-weight: 400;
}
.main-footer .footer-bottom .privacy {
    font-size: 15px;
    line-height: 25px;
    color: #92a2b6;
    font-weight: 400;
    position: relative;
    float: right;
}
.main-footer .footer-bottom .privacy a {
    color: #92a2b6;
}
.menu-item{
    display: inline-block;
    position: relative;
    font-size: 16px;
    line-height: 25px;
    color: #92a2b6;
    font-weight: 400;
}
.main-footer .footer-bottom .privacy a:hover {
    text-decoration: underline;
    color: #7478fa;
}
.main-footer .text {
    color: #758191;
    position: relative;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 40px;
}
@media(max-width: 592px){
    .main-footer .footer-bottom .copyright-text {
        float: unset;
    }
    .main-footer .footer-bottom .privacy {
        width: 100%;
        margin-top: 10px;
        float: left;
    }
}